/*Generales*/

	* {
		margin:  0px;
		padding: 0px;
	}

	body { 
		font-family: Allerta; 
		margin: 0;
	}

	.centrar {
		max-width: 800px;
		width: auto;
		margin: auto;
		position: relative;
	}

	.background {
		background-image: url("../images/background.png");
		background-size: cover;
	}

	.cbalink {
		display: none;
	}

/*Header*/

	header {
		position: relative;
		padding-top: 20px;
	}

	figure img { display: inline-block; }

	nav {
		font-size: 24px;
		position: absolute;
		right: 0;
		top: 40px;
	}

	nav li {
		display: inline-block;
		margin-left: 30px;
	}

	nav li:before {
		content: "∘ ";
		font-size: 1.3em;
		color: white;
	}

	nav a {
		text-decoration: none;
		color: white; 
	}

/*Main*/

	/*Section Portada*/

		#portada {
			color: white;
			height: 550px;
			padding: 0px 20px;
		}

		h1 {
			font-size: 70px;
			font-family: Montserrat;
			margin-top: 70px;
			margin-bottom: 0;
		}

		h1 span { text-decoration: underline; }

		.slogan {
			font-size: 24px;
			margin: 0 0 20px 25px;
		}

		.boton {
			border-radius: 8px;
			border: none;
			padding: 7px 15px;
			cursor: pointer;
			color: white;
			font-size: 18px;
			background: linear-gradient(to left, #FE344E, #FF7950);
			text-decoration: none;
			margin-top: 12px;
		}

	/*Section Guitarras*/

		#guitarras {
			color: #2C2C2C;
			margin-bottom: 100px;
		}

		h2 {
			font-size: 35px;
			font-family: Montserrat;
			margin: 25px;
		}

		.guitarras {
			margin: 20px 20px 40px 20px;
			border: 1px solid #2C2C2C;
			padding: 10px;
			position: relative;
			border-radius: 10px;
		}

		.guitarras ol { padding: 0; }

		.descripcion-a {
			display: inline-block;
			padding: 10px 30px;
		}

		.descripcion-b {
			display: inline-block;
			padding: 10px;
			margin-left: 30px;
		}

		.derecha {
			float: right;
			position: absolute;
			bottom: 0;
			right: 0px;
		}

		.izquierda {
			float: left;
			position: relative;
			top: -10px;
		}

		.titulo-g {
			font-size: 50px;
			margin: 20px 0px;
		}

/*Footer*/

	footer {
		background: #213B47;
		padding: 10px;
		padding-top: 52px;
	}

	footer .centrar {
		display: flex;
		justify-content: space-between;
	}

	.contacto {
		max-width: 310px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.contacto img { display: block; }

	.contacto strong { display: block; }

	.contacto a {
		color: white;
		text-decoration: none;
		margin-left: 10px;
	}

	/*Form*/
		form {
			display: flex;
			max-width: 400px;
			color: white;
		}

		input:focus, textarea:focus {
			outline: 0;
			background: lightgray;
		}

		form label, .sexo, .intereses { margin-bottom: 12px; }

		.col1, .col2 {
			display: flex;
			flex-direction: column;
		}

		.col1 { margin-right: 15px; }

		.col2 { align-items: flex-start; }

		.intereses label {
			font-size: 12px;
			display: inline-block;
		}

		.sexo { margin-top: 12px; }

/* Pagina Precios */

	table {
		width: 100%;
		margin: 50px 0;
	}

	th {
		background: #273b47;
		color: white;
		padding: 10px;
		text-align: left;
	}

	td { padding: 20px; }

	table, th, td {
		border: 1px solid #273b47;
		border-collapse: collapse;
	}

@media screen and (max-width: 800px) {

	/* PORTADA */
		h1 {
			font-size: 45px;
			margin-top: 30px;
		}

		.slogan { font-size: 18px; }

		#portada { 
			height: auto;
			margin: 0;
		}

		#portada .boton {
			display: inline-block;
			margin-bottom: 50px;
		}
	/* PORTADA */

	/* GUITARRAS */
		#guitarras {
			text-align: center;
			margin: 0;
		}

		.derecha, .izquierda {
			float: none;
			position: static;
		}

		#guitarras ol { list-style: none; }

		.descripcion-b, .descripcion-a {
			padding: 0;
			margin: 0;
			display: block;
		}

		.titulo-g { margin: 0 0 10px 0; }
	/* GUITARRAS */
		
@media screen and (max-width: 650px) {
	/* PORTADA */
		nav { position: static; }

		nav li:first-child{ margin: 0; }

		#portada { text-align: center; }

		#portada h3 {
			margin-left: 0;
		}

		header img { margin-bottom: 20px; }
	/* PORTADA */

	/* GUITARRAS */ .derecha, .izquierda { width: 70%; } /* GUITARRAS */

	/* FOOTER */
		footer { padding: 10px; }

		footer .centrar { display: block; }
		
		.contacto {
			flex-wrap: wrap;
			align-items: unset;
			text-align: center;
			margin: auto;
		}

		.contacto img { margin: 20px auto; }

		.contacto a {
			margin: auto;
			padding: 10px;
		}

		form {
			display: block;
			margin: 20px auto;
			text-align: center;
		}

		.col2 { align-items: normal; }
	/* FOOTER */
}

@media screen and (max-width: 480px) {
	/* PORTADA */
		nav li {
			display: block;
			margin: 0;
			padding: 10px 0;
			border-bottom: 1px solid white;
		}

		nav li:before { display: none; }

		nav li:first-child { border-top: 1px solid white; }

		h1 {
			font-size: 30px;
		}

		#portada h3 {
			font-size: 16px;
		}
	/* PORTADA */

	/* GUITARRAS */ 
		.derecha, .izquierda { width: 80%; } 

		.titulo-g {
			font-size: 40px;
		}

		.guitarras li {
			font-size: 14px;
		}


	/* GUITARRAS */
}